* {
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  color: black;
  text-decoration: none;
}

.nav:hover {
  text-decoration: underline;
}

main > img {
  border-radius: 50%;
  border: 5px solid aqua;
}

footer {
  text-align: center;
}
