:root {
  --cor-principal: #f1f0f0;
  --cor-link: #f13223;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-principal);
}

nav {
  background-color: var(--cor-principal);
  font-weight: bold;
  margin: -10px -10px 0px 0px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.363);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  padding-top: 20px;
}
nav > ul {
  list-style: none;
  display: flex;
  gap: 7px;
  margin: 0px;
  padding-top: 8px;
}
.navegacao {
  color: black;
  text-decoration: none;
  padding: 10px 10px;
  transition-duration: 0.1s;
}
.navegacao:hover {
  color: #f1f0f0;
  background-color: var(--cor-link);
  border-radius: 30px;
}
nav > a {
  color: var(--cor-principal);
  background-color: var(--cor-link);
  padding: 7px 10px 7px 10px;
  border-radius: 30px;
  text-decoration: none;
  transition-duration: 0.1s;
}
nav > a:hover {
  background-color: var(--cor-principal);
  color: black;
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 25px;
}

section {
  border-bottom: 2px;
  border-color: black;
  border-style: solid;
}

.inicio {
  padding: 190px 0px 265px 0px;
  font-size: larger;
}
.inicio h1 {
  text-align: center;
}
.inicio p {
  text-align: center;
}

.sobre h1 {
  text-align: center;
  padding-bottom: 30px;
}
.sobre h2 {
  text-align: center;
  padding: 30px 0px 50px 0px;
}
.fontes i {
  font-size: 75px;
}
.sobreMim p {
  max-width: 600px;
  text-indent: 20px;
}
.caixas-lado-a-lado {
  display: flex;
  gap: 10px;
}
.fontes .sobreMim {
  flex: 1;
  height: auto;
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
@media (min-width: 600px) {
  .fontes i {
    width: 40%;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .caixas-lado-a-lado {
    flex-direction: column;
  }
  .fontes {
    margin: auto;
    order: 2;
  }
  .sobreMim {
    order: 1;
  }
}
