@media screen and (max-width: 768px) {
  menu > div {
    display: none;
  }
  menu {
    justify-content: center;
  }
  section.inicio > .inicio-texto {
    text-align: center;
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .servico-caixas {
    width: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1600px) {
}
