@media screen and (max-width: 768px) {
  menu > a {
    display: none;
  }
  menu {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .servico-caixas {
    width: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1600px) {
}
