@media screen and (min-width: 768px) {
  header {
    justify-content: space-between;
  }
  header p {
    display: block;
  }
  main {
    grid-template-columns: auto 300px 1fr auto;
  }
  section#sobre {
    grid-column: 2/3;
    height: fit-content;
    position: sticky;
    top: 65px;
    .sobre-inicio {
      margin: 0px 0px;
    }
    .sobre-texto {
      width: 93%;
    }
    a.link-curriculo {
      width: 90%;
    }
  }
  section#skills,
  #formacoes,
  #projetos,
  #servicos {
    grid-column: 3/4;
  }
  section#skills #skill-container {
    grid-template-columns: 1fr 1fr;
  }
  footer {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  section .projetos-caixa .projetos-card .projetos-imagem {
    height: 400px;
  }
}
