:root {
  --cor-principal: #f9fafb;
  --cor-texto-principal: #000000;
  --cor-texto-secundario: #1a1a1a;
  --cor-sombra-do-nav: rgba(0, 0, 0, 0.1);
  --cor-botoes: #10b981;
  --cor-botoes-hover: #059669;
  --cor-margens: #e5e7eb;
  --cor-cards: #f9fafb;
  --cor-backcards: rgba(0, 0, 0, 0.1);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-principal);
}

html {
  scroll-padding-top: 70px;
  scroll-behavior: smooth;
}

nav {
  background-color: var(--cor-principal);
  font-weight: bold;
  margin: -10px 0px 0px 0px;
  box-shadow: 0px 5px 7px var(--cor-sombra-do-nav);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  padding-top: 20px;
}
nav > ul {
  list-style: none;
  display: flex;
  gap: 3px;
  margin: 0px;
  padding-top: 8px;
}
.navegacao {
  color: var(--cor-botoes);
  text-decoration: none;
  padding: 10px 10px;
  transition-duration: 0.1s;
}
.navegacao:hover {
  color: var(--cor-principal);
  background-color: var(--cor-botoes);
  border-radius: 30px;
}
nav > a {
  color: var(--cor-principal);
  background-color: var(--cor-botoes);
  padding: 5px 6px 5px 6px;
  border-radius: 30px;
  text-decoration: none;
  transition-duration: 0.1s;
}
nav > a:hover {
  background-color: var(--cor-principal);
  color: var(--cor-botoes);
}
@media (max-width: 435px) {
  .navegacao {
    /*padding: 6px 6px;*/
  }
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 25px;
}

section {
  border-bottom: 2px;
  border-color: var(--cor-botoes);
  border-style: solid;
}

.inicio {
  padding: 190px 0px 265px 0px;
  font-size: larger;
  color: var(--cor-texto-principal);
}
.inicio h1 {
  text-align: center;
}
.inicio p {
  text-align: center;
}

.sobre h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--cor-texto-principal);
}
.sobreMim p {
  padding: 20px 0px 20px 0px;
  margin: auto;
  max-width: 600px;
  text-align: center;
  color: var(--cor-texto-secundario);
}
.icones {
  padding: 20px 0px 20px 0px;
}
.icones ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  color: var(--cor-texto-principal);
}
.icones li {
  padding: 5px 15px 5px 15px;
  border: 1.5px solid var(--cor-botoes);
  border-radius: 20px;
  transition-duration: 0.1s;
  cursor: pointer;
}
.icones li:hover {
  background-color: var(--cor-botoes-hover);
  color: var(--cor-principal);
}
.sobre > a {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor-principal);
  background-color: var(--cor-botoes);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  border-radius: 20px;
  transition-duration: 0.1s;
}
.sobre > a:hover {
  color: black;
  background-color: var(--cor-botoes-hover);
}

.projetos {
  padding: 1rem 2rem;
  /*padding: 6rem 2rem;*/
}
.projetos-titulo {
  text-align: center;
  font-size: 2rem; /*Talvez não precise*/
  padding-bottom: 20px;
  color: var(--cor-texto-principal);
}
.projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  max-width: 1200px;
  margin: 0 auto; /*não muda nada*/
}
.projetos-card {
  background-color: var(--cor-cards);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid var(--cor-margens); /*talvez não precise*/
  overflow: hidden;
  transition: all 0.2s ease;
}
.projetos-card:hover {
  box-shadow: 0 10px 20px var(--cor-backcards);
  transform: translateY(-10px) scale(1.03);
}
.projetos-imagem {
  height: 330px;
  width: 100%;
  object-fit: cover;
}
.caixa-texto-projetos {
  padding: 0px 20px 15px 20px;
}
.info-projetos {
  margin-bottom: 5px;
}
.paragrafo-projetos {
  line-height: 1.25rem;
}
.link-projetos {
  text-decoration: none;
  color: black;
  background-color: var(--cor-botoes);
  padding: 7px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
.link-projetos:hover {
  background-color: var(--cor-botoes-hover);
  color: black;
}

.titulo-servico {
  text-align: center;
  padding-top: 20px;
  color: var(--cor-texto-principal);
}
.servicos {
  margin-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}
.servicos p {
  max-width: 600px;
  text-indent: 20px;
  height: auto;
  color: var(--cor-texto-secundario);
}
.servico-caixas h1 {
  color: var(--cor-texto-principal);
}
.servico-caixas {
  border: 2px solid var(--cor-margens);
  border-radius: 20px;
  margin: auto;
  width: 40%;
  height: 50%;
  padding: 10px;
  text-align: center;
  overflow-wrap: break-word;
  overflow: hidden;
}
@media (max-width: 600px) {
  .servico-caixas {
    width: 100%;
  }
}

footer {
  background-color: var(--cor-principal);
}
.minhas-redes {
  display: flex;
  justify-content: center;
}
.redes {
  margin: 40px;
  text-align: center;
}
.redes i {
  font-size: 40px;
}
.redes a {
  text-decoration: none;
  color: var(--cor-botoes);
}
.redes a:hover {
  text-decoration: underline;
  color: var(--cor-botoes-hover);
}
.redes p {
  margin-top: 5px;
}
