:root {
  --cor-principal: #f9fafb;
  --cor-texto-principal: #000000;
  --cor-texto-secundario: #1a1a1a;
  --cor-sombra-do-nav: rgba(0, 0, 0, 0.1);
  --cor-botoes: #10b981;
  --cor-botoes-hover: #059669;
  --cor-margens: #e5e7eb;
  --cor-cards: #f9fafb;
  --cor-backcards: rgba(0, 0, 0, 0.1);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*rolagem suave no click dos links*/
  scroll-behavior: smooth;
}
body {
  background-color: var(--cor-principal);
}
/*-----------------------------------------------------------------------*/
header {
  background-color: var(--cor-botoes);
  font-weight: bold;
  box-shadow: 0px 5px 7px var(--cor-sombra-do-nav);
  display: flex;
  justify-content: center;
  padding: 14px 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  p {
    display: none;
    color: var(--cor-principal);
  }
  ul {
    list-style: none;
    display: flex;
    gap: 3px;
    .links {
      color: var(--cor-principal);
      text-decoration: none;
      padding: 7px 7px;
      transition-duration: 0.1s;
      &:hover {
        color: var(--cor-botoes);
        background-color: var(--cor-margens);
        border-radius: 10px;
      }
    }
  }
}
main {
  padding-top: 20px; /*altura para a navbar*/
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
}
section {
  background-color: var(--cor-margens);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
  scroll-margin-top: 67px; /*click dos links*/
  /*height: 100vh;*/
  h2 {
    margin-bottom: 20px;
  }
}
/*-----------------------------------------------------------------------*/
section .sobre-inicio {
  text-align: center;
  margin: 10px 0px;
  span {
    color: var(--cor-botoes);
  }
  p {
    padding: 10px 0px;
  }
}
section .sobre-texto {
  margin: auto;
  text-align: center;
  width: 80%;
}
section .minhas-redes {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .redes {
    margin: 30px 22px;
    i {
      font-size: 30px;
    }
    a {
      text-decoration: none;
      color: var(--cor-botoes);
      transition-duration: 0.2s;
      &:hover {
        text-decoration: underline;
        color: var(--cor-botoes-hover);
      }
    }
  }
}
section a.link-curriculo {
  background-color: var(--cor-botoes);
  color: var(--cor-principal);
  text-decoration: none;
  font-weight: bold;
  padding: 7px 0px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  transition-duration: 0.1s;
  &:hover {
    color: var(--cor-principal);
    background-color: var(--cor-botoes-hover);
  }
}
/*-----------------------------------------------------------------------*/
section .caixa-skills {
  background-color: var(--cor-principal);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-flow: wrap;
  gap: 30px;
  .item {
    width: 100%;
    p {
      color: var(--cor-texto-secundario);
      font-weight: bold;
      margin-bottom: 3px;
      i {
        font-size: 19px;
        margin-right: 6px;
      }
    }
    .barra {
      background-color: var(--cor-botoes-hover);
      width: 100%;
      height: 5px;
      border-radius: 20px;
    }
  }
}
/*-----------------------------------------------------------------------*/
section #container-formacao {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .curso {
    background-color: var(--cor-principal);
    border-radius: 8px;
    border-left: 5px solid var(--cor-botoes);
    padding: 10px 10px 10px 13px;
    transition: border-width 0.5s, border-color 0.5s;
    &:hover {
      border-left-width: 15px;
      border-color: var(--cor-botoes-hover);
      cursor: pointer;
    }
    .periodo {
      font-size: 0.8em;
      font-weight: bold;
    }
    .instituicao {
      font-size: 1.3em;
    }
    .titulacao {
      font-weight: bold;
    }
  }
}
/*-----------------------------------------------------------------------*/
section .projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  max-width: 1200px;
  margin: 0 auto;
  .projetos-card {
    background-color: var(--cor-cards);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--cor-margens);
    overflow: hidden;
    transition: transform 0.3s;
    &:hover {
      box-shadow: 0px 10px 20px var(--cor-backcards);
      transform: translateY(-10px) scale(1.02);
    }
    .projetos-imagem {
      height: 330px;
      width: 100%;
      object-fit: cover;
    }
    .caixa-texto-projetos {
      padding: 0px 20px 15px 20px;
      .info-projetos {
        margin: 10px 0px;
      }
      .paragrafo-projetos {
        line-height: 1.25em;
      }
      .link-projetos {
        text-decoration: none;
        color: var(--cor-principal);
        background-color: var(--cor-botoes);
        padding: 7px;
        margin-top: 10px;
        border-radius: 15px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        &:hover {
          background-color: var(--cor-botoes-hover);
        }
      }
    }
  }
}
/*-----------------------------------------------------------------------*/
section .container-servicos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .servico-caixas {
    text-align: center;
    border: 2px solid var(--cor-botoes);
    border-radius: 20px;
    padding: 13px;
    h3 {
      font-size: 1.6em;
      margin-bottom: 7px;
    }
    p {
      max-width: 600px;
    }
  }
}
/*-----------------------------------------------------------------------*/
footer {
  background-color: var(--cor-botoes);
  text-align: center;
  font-weight: bold;
  padding: 5px;
  span {
    color: var(--cor-principal);
  }
}
/*-----------------------------------------------------------------------*/
/*
section#servicos {
  height: 100vh;
}
.servicos {
  margin-top: 70px;
  padding-bottom: 70px;
}
*/
