:root {
  --cor-principal: #f9fafb;
  --cor-texto-principal: #000000;
  --cor-texto-secundario: #1a1a1a;
  --cor-sombra-do-nav: rgba(0, 0, 0, 0.1);
  --cor-botoes: #10b981;
  --cor-botoes-hover: #059669;
  --cor-margens: #e5e7eb;
  --cor-cards: #f9fafb;
  --cor-backcards: rgba(0, 0, 0, 0.1);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-principal);
}
/*-----------------------------------------------------------------------*/
header {
  background-color: var(--cor-botoes);
  font-weight: bold;
  box-shadow: 0px 5px 7px var(--cor-sombra-do-nav);
  display: flex;
  justify-content: center;
  padding: 14px 10px;
  /*
  position: fixed;
  width: 100%;
  */
  /*
  top: 0;
  left: 0;
  z-index: 1000;
  */
}
header p {
  display: none;
  color: var(--cor-principal);
}
header ul {
  list-style: none;
  display: flex;
  gap: 3px;
}
header ul .links {
  color: var(--cor-principal);
  text-decoration: none;
  padding: 7px 7px;
  transition-duration: 0.1s;
}
header ul .links:hover {
  color: var(--cor-botoes);
  background-color: var(--cor-margens);
  border-radius: 10px;
}
main {
  padding-top: 20px; /*altura para a navbar*/
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
}
section {
  background-color: var(--cor-margens);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
  /*height: 100vh;*/
}
section h2 {
  margin-bottom: 20px;
}
/*-----------------------------------------------------------------------*/
section.sobre .sobre-inicio {
  text-align: center;
  margin: 10px 0px;
}
section.sobre .sobre-inicio span {
  color: var(--cor-botoes);
}
section.sobre .sobre-inicio p {
  padding: 10px 0px;
}
section.sobre .sobre-texto {
  margin: auto;
  text-align: center;
  width: 80%;
}
section.sobre .minhas-redes {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
section.sobre .minhas-redes .redes {
  margin: 30px 22px;
  text-align: center;
}
section.sobre .minhas-redes .redes i {
  font-size: 30px;
}
section.sobre .minhas-redes .redes a {
  text-decoration: none;
  color: var(--cor-botoes);
  transition-duration: 0.2s;
}
section.sobre .minhas-redes .redes a:hover {
  text-decoration: underline;
  color: var(--cor-botoes-hover);
}
section.sobre a.link-curriculo {
  background-color: var(--cor-botoes);
  color: var(--cor-principal);
  text-decoration: none;
  font-weight: bold;
  padding: 7px 0px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  transition-duration: 0.1s;
}
section.sobre a.link-curriculo:hover {
  color: var(--cor-principal);
  background-color: var(--cor-botoes-hover);
}
/*-----------------------------------------------------------------------*/
section.skills .caixa-skills {
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
section.skills .caixa-skills .itens-skills {
  background-color: var(--cor-principal);
  border-radius: 20px;
  width: 90%;
  padding: 20px;
}
section.skills .caixa-skills .itens-skills h3 {
  text-align: center;
  margin-bottom: 20px;
}
section.skills .caixa-skills .itens-skills ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
section.skills .caixa-skills .itens-skills ul li {
  list-style: none;
  background-color: var(--cor-botoes);
  color: var(--cor-principal);
  padding: 3px 8px;
  border-radius: 20px;
}
/*-----------------------------------------------------------------------*/
section.formacoes #container-formacao {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.formacoes #container-formacao .curso {
  background-color: var(--cor-principal);
  border-radius: 8px;
  border-left: 5px solid var(--cor-botoes);
  padding: 10px 10px 10px 13px;
  transition: border-width 0.5s, border-color 0.5s;
}
section.formacoes #container-formacao .curso:hover {
  border-left-width: 15px;
  border-color: var(--cor-botoes-hover);
  cursor: pointer;
}
section.formacoes #container-formacao .curso .periodo {
  font-size: 0.8em;
  font-weight: bold;
}
section.formacoes #container-formacao .curso .instituicao {
  font-size: 1.3em;
}
section.formacoes #container-formacao .curso .titulacao {
  font-weight: bold;
}
/*-----------------------------------------------------------------------*/
section.projetos .projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  max-width: 1200px;
  margin: 0 auto;
}
section.projetos .projetos-caixa .projetos-card {
  background-color: var(--cor-cards);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid var(--cor-margens);
  overflow: hidden;
  transition: transform 0.3s;
}
section.projetos .projetos-caixa .projetos-card:hover {
  box-shadow: 0px 10px 20px var(--cor-backcards);
  transform: translateY(-10px) scale(1.02);
}
section.projetos .projetos-caixa .projetos-card .projetos-imagem {
  height: 330px;
  width: 100%;
  object-fit: cover;
}
section.projetos .projetos-caixa .projetos-card .caixa-texto-projetos {
  padding: 0px 20px 15px 20px;
}
section.projetos
  .projetos-caixa
  .projetos-card
  .caixa-texto-projetos
  .info-projetos {
  margin: 10px 0px;
}
section.projetos
  .projetos-caixa
  .projetos-card
  .caixa-texto-projetos
  .paragrafo-projetos {
  line-height: 1.25em;
}
section.projetos
  .projetos-caixa
  .projetos-card
  .caixa-texto-projetos
  .link-projetos {
  text-decoration: none;
  color: var(--cor-principal);
  background-color: var(--cor-botoes);
  padding: 7px;
  margin-top: 10px;
  border-radius: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
section.projetos
  .projetos-caixa
  .projetos-card
  .caixa-texto-projetos
  .link-projetos:hover {
  background-color: var(--cor-botoes-hover);
}
/*-----------------------------------------------------------------------*/
section#servicos .container-servicos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
section#servicos .container-servicos .servico-caixas {
  text-align: center;
  border: 2px solid var(--cor-botoes);
  border-radius: 20px;
  padding: 13px;
  /*
  overflow-wrap: break-word;
  overflow: hidden;
  */
  /*
  width: 40%;
  height: 50%;
  */
}
section#servicos .container-servicos .servico-caixas h3 {
  font-size: 1.6em;
  margin-bottom: 7px;
}
section#servicos .container-servicos .servico-caixas p {
  max-width: 600px;
  /*text-indent: 20px;*/
  /*height: auto;*/
}
/*-----------------------------------------------------------------------*/
footer {
  background-color: var(--cor-botoes);
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
footer span {
  color: var(--cor-principal);
}
/*-----------------------------------------------------------------------*/
/*
section#servicos {
  height: 100vh;
}
.servicos {
  margin-top: 70px;
  padding-bottom: 70px;
}
*/
